html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(../images/header-bckg-min.jpg);
  font-family: "Montserrat", sans-serif;
  background-size: cover;
}

.header__shadow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.header__body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px 20px 0 15px;
  text-align: center;
  position: relative;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__burger {
  display: none;
}

.brand-logo__icon {
  width: 110px;
  height: 80px;
}

.menu__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu {
  flex: 0 0 60%;
}

.menu__link {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: linear color 0.1s;
}

.menu__link:hover {
  color: #83817f;
}

.header__call {
  border: 2px solid #f9b047;
  border-radius: 8px;
  color: #f9b047;
  margin-right: 4px;
  padding: 12px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header__call:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.header__call-icon {
  width: 15px;
  height: 15px;
  margin-right: 25px;
}

.header__call-icon-tabl-phone {
  display: none;
}

.header__call-number {
  font-size: 13px;
  font-weight: 600;
}

.header__title {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  white-space: nowrap;
  margin: 150px auto 60px auto;
}

.header__button-cta {
  display: inline-block;
  background-color: #fbaf41;
  border-radius: 48px;
  padding: 25px 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 100px;
}

.header__button-cta:hover {
  color: #f7f7f7;
  background-color: #ff9600;
}

.header__button-cta:active {
  transform: scale(0.9);
}
